#Models and Evaluation

In [58]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import randint
from sklearn.preprocessing import binarize
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV

from sklearn.svm import SVC
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import BaggingClassifier, AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
 
from sklearn import metrics
from sklearn.metrics import accuracy_score, mean_squared_error, precision_recall_curve, classification_report
from sklearn.model_selection import cross_val_score


from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [3]:
df=pd.read_csv('../datasets/final.csv')

In [4]:
df.head(20)

    Unnamed: 0  Timestamp  ...  What is your race?  What country do you work in?
0            0       2017  ...                   3                            52
1            1       2017  ...                   3                            52
2            2       2017  ...                   3                            53
3            3       2017  ...                   3                            53
4            4       2017  ...                   2                            53
5            5       2017  ...                   3                            53
6            6       2017  ...                   3                            49
7            7       2017  ...                   3                            53
8            8       2017  ...                   3                            53
9            9       2017  ...                   3                            53
10          10       2017  ...                   0                            53
11          11       2017  ...                   3                            53
12          12       2017  ...                   3                             3
13          13       2017  ...                   3                            15
14          14       2017  ...                   3                            52
15          15       2017  ...                   3                             7
16          16       2017  ...                   3                            23
17          17       2017  ...                   3                            53
18          18       2017  ...                   3                            53
19          19       2017  ...                   3                             7

[20 rows x 55 columns]

##Features and dependent variables

In [7]:
X = df.drop(columns=['Would you feel comfortable discussing a mental health issue with your coworkers?','Would you feel comfortable discussing a mental health issue with your direct supervisor(s)?'], axis =1)
Y1=df['Would you feel comfortable discussing a mental health issue with your coworkers?']
Y2=df['Would you feel comfortable discussing a mental health issue with your direct supervisor(s)?']
print('y1 :',Y1.value_counts())
print('y2 :',Y2.value_counts())

y1 : 2    543
1    389
0    314
Name: Would you feel comfortable discussing a mental health issue with your coworkers?, dtype: int64
y2 : 1    473
2    408
0    365
Name: Would you feel comfortable discussing a mental health issue with your direct supervisor(s)?, dtype: int64

#Splitting the data into training and test set

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y1_train, y1_test = train_test_split(X, Y1, test_size = 0.2, random_state = 25)
X_train, X_test, y2_train, y2_test = train_test_split(X, Y2, test_size = 0.2, random_state = 25)

#Implementing Machine Learning Models

##1.Logistic Regression

In [35]:
pipe1 = make_pipeline(StandardScaler(), LogisticRegression())
pipe1.fit(X_train, y1_train)  
print('Score for y1:',pipe1.score(X_test, y1_test))
print('Cross validation score for logistic regression to classify y1:',cross_val_score(pipe1, X, Y1, cv=10))
pipe1.fit(X_train, y2_train) 
print('Score for y2:',pipe1.score(X_test, y1_test))
print('Cross validation score for logistic regression to classify y2:',cross_val_score(pipe1, X, Y2, cv=10))

Score for y1: 0.56
Cross validation score for logistic regression to classify y1: [0.536      0.592      0.672      0.576      0.624      0.632
 0.69354839 0.60483871 0.62903226 0.5       ]
Score for y2: 0.504
Cross validation score for logistic regression to classify y2: [0.624      0.52       0.576      0.592      0.464      0.576
 0.66129032 0.61290323 0.62096774 0.51612903]

##2.SVM

In [40]:
pipe2 = make_pipeline(StandardScaler(), SVC(kernel = 'linear'))
pipe2.fit(X_train, y1_train)  
print('Score for y1:',pipe2.score(X_test, y1_test))
print('Cross validation score for SVM to classify y1:',cross_val_score(pipe2, X, Y1, cv=10))
pipe2.fit(X_train, y2_train) 
print('Score for y2:',pipe2.score(X_test, y2_test))
print('Cross validation score for SVM to classify y2:',cross_val_score(pipe2, X, Y2, cv=10))

Score for y1: 0.556
Cross validation score for SVM to classify y1: [0.48       0.568      0.656      0.56       0.608      0.568
 0.66935484 0.51612903 0.64516129 0.4516129 ]
Score for y2: 0.584
Cross validation score for SVM to classify y2: [0.68       0.552      0.568      0.592      0.512      0.576
 0.67741935 0.58870968 0.58064516 0.54032258]

##3.K Nearest Neighbors classifier

In [42]:
pipe3 = make_pipeline(StandardScaler(),KNeighborsClassifier(n_neighbors=3))
pipe3.fit(X_train, y1_train)  
print('Score for y1:',pipe3.score(X_test, y1_test))
print('Cross validation score for KNN to classify y1:',cross_val_score(pipe3, X, Y1, cv=10))
pipe3.fit(X_train, y2_train) 
print('Score for y2:',pipe3.score(X_test, y2_test))
print('Cross validation score for KNN to classify y2:',cross_val_score(pipe3, X, Y2, cv=10))

Score for y1: 0.516
Cross validation score for KNN to classify y1: [0.512      0.512      0.56       0.544      0.536      0.472
 0.52419355 0.43548387 0.56451613 0.34677419]
Score for y2: 0.408
Cross validation score for KNN to classify y2: [0.464      0.448      0.456      0.448      0.416      0.52
 0.5        0.37903226 0.57258065 0.41129032]

##4.Decision Tree

In [45]:
pipe4 = make_pipeline(StandardScaler(),DecisionTreeClassifier(random_state=10))
pipe4.fit(X_train, y1_train)  
print('Score for y1:',pipe4.score(X_test, y1_test))
print('Cross validation score for Decision Tree to classify y1:',cross_val_score(pipe4, X, Y1, cv=10))
pipe4.fit(X_train, y2_train) 
print('Score for y2:',pipe4.score(X_test, y2_test))
print('Cross validation score for Decision Tree to classify y2:',cross_val_score(pipe4, X, Y2, cv=10))

Score for y1: 0.508
Cross validation score for Decision Tree to classify y1: [0.408      0.424      0.488      0.552      0.528      0.568
 0.61290323 0.52419355 0.48387097 0.52419355]
Score for y2: 0.472
Cross validation score for Decision Tree to classify y2: [0.48       0.424      0.52       0.464      0.36       0.504
 0.52419355 0.48387097 0.40322581 0.43548387]

##5.Random Forest Classifier

In [55]:
pipe5 = make_pipeline(StandardScaler(),RandomForestClassifier(max_depth=6,random_state=10))
pipe5.fit(X_train, y1_train)  
print('Score for y1:',pipe5.score(X_test, y1_test))
print('Cross validation score for Random Forest classifier to classify y1:',cross_val_score(pipe5, X, Y1, cv=10))
pipe5.fit(X_train, y2_train) 
print('Score for y2:',pipe5.score(X_test, y2_test))
print('Cross validation score for Random Forest  Classifier to classify y2:',cross_val_score(pipe5, X, Y2, cv=10))

Score for y1: 0.608
Cross validation score for Decision Tree to classify y1: [0.584      0.632      0.704      0.608      0.672      0.568
 0.66935484 0.59677419 0.66129032 0.50806452]
Score for y2: 0.616
Cross validation score for Decision Tree to classify y2: [0.56       0.632      0.576      0.624      0.536      0.56
 0.68548387 0.59677419 0.66935484 0.61290323]

##6.GridSearch

In [60]:
parameters = {'kernel':('linear', 'rbf'), 'C':[1, 10]}
svc = SVC()
pipe6 = make_pipeline(StandardScaler(),GridSearchCV(svc, parameters))
pipe6.fit(X_train, y1_train)  
print('Score for y1:',pipe6.score(X_test, y1_test))
print('Cross validation score for Grid Search to classify y1:',cross_val_score(pipe6, X, Y1, cv=10))
pipe6.fit(X_train, y2_train) 
print('Score for y2:',pipe6.score(X_test, y2_test))
print('Cross validation score for Grid Search to classify y2:',cross_val_score(pipe6, X, Y2, cv=10))

Score for y1: 0.556
Cross validation score for Grid Search to classify y1: [0.488      0.6        0.664      0.552      0.688      0.608
 0.68548387 0.54032258 0.64516129 0.5       ]
Score for y2: 0.596
Cross validation score for Grid Search to classify y2: [0.68       0.552      0.552      0.584      0.528      0.608
 0.67741935 0.61290323 0.62903226 0.5       ]

##7.BaggingClassifier

In [62]:
'''from sklearn.model_selection import train_test_split
X_train, X_test, y1_train, y1_test = train_test_split(X, Y1, test_size = 0.2, random_state = 25)
X_train, X_test, y2_train, y2_test = train_test_split(X, Y2, test_size = 0.2, random_state = 25)
clf = BaggingClassifier(base_estimator=SVC(),n_estimators=10, random_state=0).fit(X_train, y1_train)
clf.score(X_test,y1_test)
'''

0.408

In [76]:
pipe7 = make_pipeline(StandardScaler(),BaggingClassifier(base_estimator=SVC(),n_estimators=4))
pipe7.fit(X_train, y1_train)  
print('Score for y1:',pipe7.score(X_test, y1_test))
print('Cross validation score for Bagging Classifier to classify y1:',cross_val_score(pipe7, X, Y1, cv=10))
pipe7.fit(X_train, y2_train) 
print('Score for y2:',pipe7.score(X_test, y2_test))
print('Cross validation score for Bagging Classifier to classify y2:',cross_val_score(pipe7, X, Y2, cv=10))

Score for y1: 0.584
Cross validation score for Bagging Classifier to classify y1: [0.52       0.568      0.656      0.512      0.664      0.616
 0.68548387 0.50806452 0.7016129  0.50806452]
Score for y2: 0.576
Cross validation score for Bagging Classifier to classify y2: [0.576      0.552      0.568      0.6        0.504      0.584
 0.67741935 0.5483871  0.62096774 0.48387097]

##8.AdaBoostClassifier

In [80]:
clf = AdaBoostClassifier(n_estimators=100, random_state=0)
clf.fit(X_train, y1_train)
clf.score(X_test,y1_test)

0.564

In [81]:
pipe8 = make_pipeline(StandardScaler(),AdaBoostClassifier(n_estimators=150, random_state=0))
pipe8.fit(X_train, y1_train)  
print('Score for y1:',pipe8.score(X_test, y1_test))
print('Cross validation score for AdaBoost classifier to classify y1:',cross_val_score(pipe8, X, Y1, cv=10))
pipe8.fit(X_train, y2_train) 
print('Score for y2:',pipe8.score(X_test, y2_test))
print('Cross validation score for AdaBoost classifier to classify y2:',cross_val_score(pipe8, X, Y2, cv=10))

Score for y1: 0.584
Cross validation score for AdaBoost classifier to classify y1: [0.512      0.528      0.68       0.6        0.608      0.608
 0.64516129 0.56451613 0.53225806 0.49193548]
Score for y2: 0.54
Cross validation score for AdaBoost classifier to classify y2: [0.376      0.56       0.504      0.576      0.488      0.52
 0.53225806 0.51612903 0.44354839 0.41129032]