In [62]:
import pandas as pd
import random as rd
import numpy as np

In [63]:
df1=pd.read_csv('2014_survey.csv')
df2=pd.read_csv('2016_survey.csv')
df3=pd.read_csv('2017_survey.csv')
df4=pd.read_csv('2018_survey.csv')
df5=pd.read_csv('2019_survey.csv')
df6=pd.read_csv('2020_survey.csv')

In [50]:
df1.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [52]:
print(df1.shape,df2.shape,df3.shape, df4.shape, df5.shape, df6.shape)

(1259, 27) (1433, 63) (756, 123) (417, 123) (352, 82) (180, 120)

In [64]:
df2.insert(loc=0, column='Timestamp', value='2016')
df3.insert(loc=0, column='Timestamp', value='2017')
df4.insert(loc=0, column='Timestamp', value='2018')
df5.insert(loc=0, column='Timestamp', value='2019')
df6.insert(loc=0, column='Timestamp', value='2020')

In [65]:
for i in range(len(df1['Timestamp'])):
    df1['Timestamp'][i]=df1['Timestamp'][i][:4]

<ipython-input-65-f6bfc243c870>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Timestamp'][i]=df1['Timestamp'][i][:4]

In [66]:
from difflib import SequenceMatcher

def similar(a, b):
    if a.lower() in b.lower().strip(' ').strip('?').split(' ') and a.lower()!='Treatment'.lower():
        return 1
    return SequenceMatcher(None, a, b).ratio()

In [56]:
#test
for i in range(len(df1.columns)):
        max_sim=0
        max_j=None
        for j in range(len(df2.columns)):
            sim=similar(df1.columns[i].lower(),df2.columns[j].lower())
            if sim>max_sim:
                max_sim=sim
                max_j=j

        if (max_sim>0.6):
            print(df1.columns[i],df2.columns[max_j])

Timestamp Timestamp
Age What is your age?
Gender What is your gender?
Country What country do you live in?
state What US state or territory do you live in?
self_employed Are you self-employed?
benefits Does your employer provide mental health benefits as part of healthcare coverage?
anonymity Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources provided by your employer?
leave If a mental health issue prompted you to request a medical leave from work, asking for that leave would be:
coworkers Would you feel comfortable discussing a mental health disorder with your coworkers?

In [67]:
def rename_sim_cols(df1,df2):
    for i in range(len(df1.columns)):
        max_sim=0
        max_j=None
        for j in range(len(df2.columns)):
            sim=similar(df1.columns[i].lower(),df2.columns[j].lower())
            if sim>max_sim:
                max_sim=sim
                max_j=j

        if (max_sim>0.6):
            df1.rename(columns={df1.columns[i]:df2.columns[max_j]},inplace=True)

In [68]:
rename_sim_cols(df5,df6)
rename_sim_cols(df4,df5)
rename_sim_cols(df3,df4)
rename_sim_cols(df2,df3)
rename_sim_cols(df1,df2)

In [77]:
df1 = df1.loc[:,~df1.columns.duplicated()]
df2 = df2.loc[:,~df2.columns.duplicated()]
df3 = df3.loc[:,~df3.columns.duplicated()]
df4 = df4.loc[:,~df4.columns.duplicated()]
df5 = df5.loc[:,~df5.columns.duplicated()]
df6 = df6.loc[:,~df6.columns.duplicated()]

In [78]:
df=df1.append(df2, ignore_index=True)

In [79]:
df.shape

(2692, 80)

In [80]:
df=df.append(df3,ignore_index=True)
df=df.append(df4,ignore_index=True)
df=df.append(df5,ignore_index=True)
df=df.append(df6,ignore_index=True)

In [81]:
df.shape

(4397, 158)

In [83]:
df = df.loc[:,~df.columns.duplicated()]

In [84]:
df.shape

(4397, 158)

In [82]:
df.to_csv('merged_survery.csv')

1) Live in and work in have to be combined 
2) coworkers
3)